body {
    margin: 0px;
    padding: 10px;
}

h1 {
    color: rgb(146, 60, 60);
    font-size: 3em;
}

.seccion-principal img {
    width: 60%;
    height: 60%;
    align-items: center;
}

a {
    color: rgb(70, 17, 17);
}

ul {
    text-decoration-style: none;
}

footer {
    background-color: rgba(235, 235, 78, 0.838);
    display: flex;
    justify-content: center;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#encabezado {
    padding: 0.2em;
    display: flex;
    background-color: rgba(235, 235, 78, 0.838);
    align-items: center;
    justify-content: space-between;
}

.imagen img {
    width: 100%;
    height: 100%;
    align-items: center;
}

#encabezado nav ul {
    display: flex;
    gap: 1em;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: rgb(123, 132, 122);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* FORMULARIO CONTACTANOS */
.titulo_seccion {
    position: relative;
    font-size: 40px;
    color: rgb(154, 18, 18);
    text-align: center;
}

.container {
    max-width: 80%;
    /* Define el ancho máximo del contenedor */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    padding: 5px;
    /* Agrega un poco de espacio alrededor del formulario */
    border: 5px;
    /* Agrega un borde al contenedor */
    border-radius: 10px;
    /* Agrega bordes redondeados al contenedor */
}

.form-group {
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Espacio entre cada input */
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 60%;
    /* Define el ancho máximo del input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea {
    resize: vertical;
    /* Permite redimensionar verticalmente el textarea */
}

button {
    /* Coloca estilos a tu botón */
    background-color: rgba(235, 235, 78, 0.838);
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: black;
    margin: 0 auto;
    font-size: 20px;

}

button:hover {
    background-color: #cdd0d3;
    cursor: pointer;
}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

.form_contenedor {
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 5px solid rgba(235, 235, 78, 0.838);
    border-radius: 1em;

}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {

    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
    #encabezado h1{
        font-size: 30px;
    }
    .titulo_seccion{
        text-align: left;
    }

    img {
        width: 60px;
        height: 60px;
    }

    .checkbtn {
        display: block;
    }

    #encabezado ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(190, 190, 174, 0.838);
        text-align: center;
        color: rgb(154, 18, 18);
        font-weight: bold;
        top: 80px;
        left: 100%;
        transition: all 0.5s;
    }
    
    #check:checked ~ ul {
        left: 0%;
        display: block;
    }

    #encabezado nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }

    #encabezado h1 nav ul li a {
        font-size: 40px;
    }

    #check:checked ~ .checkbtn {
        color: brown;
    }
}